html, body { padding: 0; margin: 0; min-height: 100vh; }
html * { box-sizing: border-box; }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    color: $primary;
}

h2, h3, h4, h5, h6 {
    color: $black;
}

a {
    color: lighten($primary, 10%);
    transition: color .25s;
    
    &:visited {
        color: darken($primary, 5%);
    }

    &:hover {
        color: darken($primary, 10%);
        transition: color .25s;
    }
}

// Placeholders
::-webkit-input-placeholder { color: darken($black, 5%); }
:-moz-placeholder {
    color: darken($black, 5%);;
    opacity: 1;
}
::-moz-placeholder {
    color: darken($black, 5%);;
    opacity: 1;
}
:-ms-input-placeholder { color: darken($black, 5%); }
::-ms-input-placeholder { color: darken($black, 5%); }
::placeholder { color: darken($black, 5%); }

// Input
input:not([type="checkbox"], [type="radio"], [type="range"]),
select,
textarea,
button,
a.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid $gray-light;
    background-color: $gray-light;
    border-radius: 3px;
    outline: none;

    &:active,
    &:focus {
        border: 1px solid lighten($primary, 15%);
        box-shadow: 0 0 0 2px $primary;
    }
}

input[type="range"] {
    display: block;
    width: 100%;
}

// Buttons
button,
input[type="submit"],
a.button {
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: none;
    color: $white;
    background-color: $primary;
    transition: background-color .25s;

    &:hover {
        color: $white;
        border: none;
        box-shadow: none;
        background-color: darken($primary, 15%);
        transition: background-color .25s;
    }

    &:focus,
    &:active {
        color: $white;
        border: none;
        box-shadow: none;
        background-color: lighten($primary, 15%);
        transition: background-color .25s;
    }
}

input[type="checkbox"],
input[type="radio"] {
    margin-bottom: 1rem;
}

fieldset {
    border: 2px solid $primary;

    legend {
        color: $primary;
        padding: 0 .5rem;
        font-weight: bold;
    }
}

label + input,
label + select,
label + textarea {
    margin-top: 0.5rem;
}

pre {
    background-color: darken($black, 10%);
    color: $white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

code {
    font-size: inherit;
    color: $black;
}

pre {
    margin: 0;
    border-radius: 3px;
    padding: 1rem;
    code {
        border-radius: 3px;
        overflow: auto;
        padding: 0;
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $white;
    }
}

table {
    width: 100%;
    border-spacing: 0;

    thead {
        tr {
            th {
                border-bottom: 2px solid $primary;
            }
        }
    }

    th, td {
        padding: 0.5rem 1rem;
        font-weight: normal;
        text-align: left;
        text-align: start;
    }

    tr:nth-of-type(even) {
        background-color: lighten($primary, 5%);
        color: $white;
    }
}

figure {
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

blockquote {
    p {
        margin: 0;
        padding: 0;
    }
    figcaption {
        font-size: smaller;
        margin-top: .75rem;
        color: lighten($black, 15%);
    }

    margin: 0;
    border-left: 4px solid $primary;
    padding: .75rem;
    background-color: $gray-light;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}