html, body { padding: 0; margin: 0; min-height: 100vh; }
html * { box-sizing: border-box; }

// General styles
body {
    background-color: $body-bg;
    color: $body-text;
}

h1 {
    color: $primary;
}

h2, h3, h4, h5, h6 {
    color: $body-text;
}

a:not([role="button"]) {
    color: lighten($link-text, 10%);
    transition: color .25s;
    
    &:visited {
        color: darken($link-text, 5%);
    }

    &:hover {
        color: $secondary;
        transition: color .25s;
    }
}

// Placeholders
::-webkit-input-placeholder { color: $placeholder-color; }
:-moz-placeholder {
    color: $placeholder-color;
    opacity: 1;
}
::-moz-placeholder {
    color: $placeholder-color;
    opacity: 1;
}
:-ms-input-placeholder { color: $placeholder-color; }
::-ms-input-placeholder { color: $placeholder-color; }
::placeholder { color: $placeholder-color; }

input:not([type="checkbox"], [type="radio"]),
select,
textarea,
button,
a[role="button"]
.btn {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: $border-size solid $border-color;
    border-radius: 5px;
    background-color: $border-color;
    color: $body-bg;
    outline: none;

    &:active,
    &:focus {
        border: $border-size solid lighten($outline-color, 15%);
        box-shadow: 0 0 0 $border-size $outline-color;
    }
}

input[type="submit"],
button,
a[role="button"],
.btn {
    color: $body-text;
    cursor: pointer;
    border: none;
    box-shadow: none;

    &:active,
    &:hover,
    &:focus {
        color: $body-text;
        border: none;
        box-shadow: none;
    }
}

input[type="submit"] {
    background-color: $teal-blue;
    transition: background-color .25s;

    &:hover {
        background-color: darken($teal-blue, 15%);
        transition: background-color .25s;
    }

    &:focus,
    &:active {
        background-color: lighten($teal-blue, 15%);
        transition: background-color .25s;
    }
}

button,
a[role="button"],
.btn {
    text-decoration: none;
    text-align: center;
    background-color: $border-color;
    transition: background-color .25s;

    &:hover {
        background-color: darken($border-color, 15%);
        transition: background-color .25s;
    }

    &:focus,
    &:active {
        background-color: lighten($border-color, 15%);
        transition: background-color .25s;
    }
}

input[type="checkbox"],
input[type="radio"] {
    margin-bottom: 1rem;
}

fieldset {
    border: $border-size solid $border-color;

    legend {
        color: $border-color;
        padding: 0 .5rem;
        font-weight: bold;
    }
}

label + input,
label + select,
label + textarea {
    margin-top: 0.5rem;
}

code,
pre {
    background-color: $code-bg;
    color: $code-text;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

code {
    padding: .05rem .5rem;
    -webkit-box-shadow: inset -1px 3px 8px 5px $code-bg, 2px 5px 16px 0px $code-bg, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px $code-bg, 2px 5px 16px 0px $code-bg, 5px 5px 15px 5px rgba(0,0,0,0);
    overflow: auto;
}

pre {
    padding: 1rem;
    code {
        padding: 0;
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    -webkit-box-shadow: inset -1px 3px 8px 5px $code-bg, 2px 5px 16px 0px $code-bg, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px $code-bg, 2px 5px 16px 0px $code-bg, 5px 5px 15px 5px rgba(0,0,0,0);
}

table {
    width: 100%;
    border-spacing: 0;

    th, td {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: normal;
        border-bottom: $border-size solid $border-color;
        text-align: left;
        text-align: start;
    }

    tr:nth-of-type(even) {
        background-color: $table-bg;
    }
}

figure {
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

blockquote {
    p {
        margin: 0;
        padding: 0;
    }
    figcaption {
        margin-top: .75rem;
        text-align: right;
        margin-right: 2rem;
        color: $quote-caption-text;
    }
    margin: 0;
    border-left: $quote-border-size solid $quote-border-color;
    padding: 1.25rem 1rem 1.25rem 1.5rem;
    font-size: $quote-font-size;
}