html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-size: 18px;
}

html * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.2
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
}

a {
    color: $primary;
    transition: color .25s;

    &:hover {
        color: $primary-light;
        transition: color .25s;
    }
}

// Placeholders
::-webkit-input-placeholder {
    color: inherit;
}

:-moz-placeholder {
    color: inherit;
    opacity: 1;
}

::-moz-placeholder {
    color: inherit;
    opacity: 1;
}

:-ms-input-placeholder {
    color: inherit;
}

::-ms-input-placeholder {
    color: inherit;
}

::placeholder {
    color: inherit;
}

// Input
input {
    accent-color: $primary;
}

input:not([type="checkbox"], [type="radio"], [type="range"]),
select,
textarea,
button,
a.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    display: block;
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid $white;
    background-color: $white;
    border-radius: 3px;
    outline: none;
}

input,
select,
textarea,
a,
button {
    &:focus {
        border: 2px solid $white;
    }
}

input[type="range"] {
    display: block;
    width: 100%;
    border: 1px solid;
}

// Buttons
button,
input[type="submit"],
a.button {
    --button-color: #{$white};
    --button-background: #{$primary};
    --button-border-color: #{$primary};
    --button-border-radius: 3px;

    --button-hover-color: #{$white};
    --button-hover-background: #{$primary-dark};
    --button-hover-border-color: #{$primary-dark};

    --button-active-color: #{$white};
    --button-active-background: #{$primary-light};
    --button-active-border-color: #{$primary-light};
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--button-background);
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    box-shadow: none;
    transition: background-color .25s;

    &:hover {
        color: var(--button-hover-color);
        background-color: var(--button-hover-background);
        border: 1px solid var(--button-hover-border-color);
        box-shadow: none;
        transition: background-color .25s;
    }

    &:active {
        color: var(--button-active-color);
        background-color: var(--button-active-background);
        border: 1px solid var(--button-active-border-color);
        box-shadow: none;
        transition: background-color .25s;
    }

    &.outline {
        background-color: transparent;
        border: 1px solid var(--button-border-color);
        color: var(--button-color);

        &:active,
        &:hover {
            border: 1px solid var(--button-hover-border-color);
            color: var(--button-hover-color);
            background-color: var(--button-hover-background);
            transition: border .25s, color .25s, background-color .25s;
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    margin-bottom: 1rem;
}

fieldset {
    border: 2px solid $primary;

    legend {
        color: $primary;
        padding: 0 .5rem;
        font-weight: bold;
    }
}

label+input,
label+select,
label+textarea {
    margin-top: 0.5rem;
}

pre {
    background-color: $black;
    color: $white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

code {
    font-size: inherit;
    color: $gray;
}

pre {
    margin: 0;
    border-radius: 3px;
    padding: 1rem;

    code {
        border-radius: 3px;
        overflow: auto;
        padding: 0;
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $white;
    }
}

table {
    width: 100%;
    border-spacing: 0;

    thead {
        tr {
            th {
                border-bottom: 2px solid $primary;
            }
        }
    }

    th,
    td {
        padding: 0.5rem 1rem;
        font-weight: normal;
        text-align: left;
        text-align: start;
    }

    tr:nth-of-type(even) {
        background-color: $primary;
        color: $white;
    }
}

figure {
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

blockquote {
    p {
        margin: 0;
        padding: 0;
    }

    figcaption {
        font-size: smaller;
        margin-top: .75rem;
        color: $gray;
    }

    margin: 0;
    border-left: 4px solid $primary;
    padding: .75rem;
    background-color: $white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

img {
    height: auto;
    max-width: 100%;
}

dialog {
    z-index: 999;

    border: none;
    border-radius: 6px;

    padding: 1rem;

    // Darken background; Replace with ::backdrop later
    // See: https://developer.mozilla.org/en-US/docs/Web/CSS/::backdrop
    background: transparent;

    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:after {
        content: '';
        background: white;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &:before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }
}