body {
    background-color: $outer-space;
    color: $white;
}

h1 {
    color: $primary;
}

h2, h3, h4, h5, h6 {
    color: $white;
}

a,
header nav a {
    color: lighten($link-color, 10%);
    background-color: transparent;

    transition: color .25s, background-color .25s;
    
    &:visited {
        color: darken($link-color, 5%);
    }

    &:hover {
        color: $secondary;
        background-color: $link-color;

        transition: color .25s, background-color .25s;
    }
}

header {
    background-color: $primary;
    color: $white;

    a {
        color: $link-color;
        &:hover,
        &:visited {
            background-color: transparent;
        }
    }
}

footer {
    border-top: 2px solid $primary;
    color: $footer-color;
}