body {
    background-color: $body-bg;
    color: $body-text;
}

h1 {
    color: $primary;
}

h2, h3, h4, h5, h6 {
    color: $body-text;
}

a:not([role="button"]) {
    color: lighten($link-text, 10%);
    background-color: transparent;

    transition: color .25s, background-color .25s;
    
    &:visited {
        color: darken($link-text, 5%);
    }

    &:hover {
        color: $secondary;
        background-color: $link-text;

        transition: color .25s, background-color .25s;
    }
}


// Section
section {
    color: $section-text;
    background-color: $section-bg;

    -webkit-box-shadow: inset -1px 3px 8px 5px $section-bg, 2px 5px 16px 0px $section-bg, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px $section-bg, 2px 5px 16px 0px $section-bg, 5px 5px 15px 5px rgba(0,0,0,0);

    h1, h2, h3, h4, h5, h6 {
        color: $section-headline;
    }

    // Alternate Section Background
    & + section:nth-of-type(odd) {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}