:root {
    // Fonts
    --font-sans: Arial, Helvetica, sans-serif;
    --font-serif: Georgia, 'Times New Roman', Times, serif;
    --font-mono: 'Courier New', Courier, monospace;

    // Colors
    --red: #c54047;
    --green: #79c037;
    --blue: #3e7dc0;
    --yellow: #c0b73e;
    --gray: #898989;
    --black: #242424;
    --white: #f1f1f1;

    --primary: #{'var(--blue)'};
    --primary-dark: #2b5786;
    --primary-light: #77a4d3;
    --color-scheme: var(--black);
    --color-scheme-contrast: var(--white);

    // Links
    --link-color: var(--primary-light);
    --link-hover-color: var(--primary);

    // Buttons
    --button-color: var(--color-scheme);
    --button-background: var(--color-scheme-contrast);
    --button-border-color: var(--color-scheme-contrast);
    --button-border-radius: 3px;

    --button-hover-color: var(--color-scheme);
    --button-hover-background: var(--color-scheme-contrast);
    --button-hover-border-color: var(--color-scheme);

    // Border
    --border-color: var(--color-scheme);

    // Scrollbar
    --scrollbar-fg: var(--color-scheme);
    --scrollbar-bg: var(--color-scheme-contrast);

    // Dialog
    --dialog-color: var(--color-scheme-contrast);
    --dialog-background-color: var(--color-scheme);

    // Shadow
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// Colors
$red: #{'var(--red)'};
$green: #{'var(--green)'};
$blue: #{'var(--blue)'};
$yellow: #{'var(--yellow)'};
$gray: #{'var(--gray)'};
$black: #{'var(--black)'};
$white: #{'var(--white)'};
$color-scheme: #{'var(--color-scheme)'};
$color-scheme-contrast: #{'var(--color-scheme-contrast)'};

$colors: (
    red: $red,
    green: $green,
    blue: $blue,
    yellow: $yellow,
    gray: $gray,
    black: $black,
    white: $white,
    color-scheme: $color-scheme,
    color-scheme-contrast: $color-scheme-contrast
);

$primary: #{'var(--primary)'};
$primary-dark: #{'var(--primary-dark)'};
$primary-light: #{'var(--primary-light)'};

// Breakpoints
$breakpoints: (
    sm: 0,
    md: 768px,
    lg: 1280px,
);

@mixin addBreakpointPrefixes ($className) {
    @each $label, $breakpoint in $breakpoints {
        $tmpClass: $className;

        @if $label !=sm {
            $tmpClass: '#{$label}\\:#{$className}';

            @media (min-width: #{$breakpoint}) {
                .#{$tmpClass} {
                    @content;
                }
            }
        }

        @else {
            .#{$tmpClass} {
                @content;
            }
        }
    }
}

// Container max-widths
$container-max-widths: (
    sm: 100%,
    md: 720px,
    lg: 1140px,
);

// Fonts
$font-sans: #{'var(--font-sans)'};
$font-serif: #{'var(--font-serif)'};
$font-mono: #{'var(--font-mono)'};