// Colors
$red: #c54047;
$green: #79c037;
$blue: #3e7dc0;
$gray: #575757;
$black: #242424;
$white: #f1f1f1;

$primary: $blue;
$secondary: $gray;

// Breakpoints
$sm-width: 0px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;